* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(239, 239, 239);
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.user-list {
  width: 400px;
}

.user-list-title {
  padding: 15px 5px;
  border-bottom: 2px solid rgb(227, 227, 227);
  font-weight: bold;
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid rgb(227, 227, 227);
}

.user:hover {
  background-color: rgb(234, 234, 234);
}

.user p {
  font-size: 12px;
  margin-top: 5px;
}

.user-name {
  display: flex;
  gap: 7px;
}

input[type='checkbox'] {
  accent-color: black;
}

/* ------------------------------ */

.books {
  width: 400px;
}

.books-title {
  font-weight: bold;
  padding: 15px 5px;
  border-bottom: 2px solid rgb(227, 227, 227);
}

.books-input {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.books-input select {
  width: 40px;
  text-align: center;
}

.books-submit {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button {
  padding: 1px 2px;
}